.landing-background {

  background-color: #e1e1e9;
  
  background-image: url('https://www.solidbackgrounds.com/images/1920x1080/1920x1080-amber-orange-solid-color-background.jpg');
  background-repeat: repeat-y;
  background-size: 50% auto;
  background-position: right;

  width: 95%;
  height: 90%;
  margin: 40px auto;
  padding: 30px;
  border-radius: 10px;

  @media screen and (max-width: 425px) {
    background-image: none;
  }
}

.landing-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 425px){
    flex-direction: column;
  }

  &__image {
    display: flex;
    justify-content: center;

    img {
      width: 490px;
      height: 490px;

      @media screen and (max-width: 768px){
        width: 300px;
        height: 300px;
      }
    }
  }
}

.landing-content__user {
  display: flex;
  flex-direction: column;
  align-items: center;

  .button {
    margin-bottom: 20px;
  }
}
