h2 {
  font-size: 18px;
  width: 60vw;
  margin: 0 auto;
  padding-left: 6px;
  margin-bottom: 20px;
}

.box {
  width: 60vw;
  height: 80vh;
  padding: 20px;
  margin:  0 auto;
  top: 20px;
  background: linear-gradient(rgb(223, 200, 118), rgb(216, 112, 0));
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.4);
  border-radius: 10px;

  @media screen and (max-width: 768px){
    width: 300px;
    height: 330px;
    padding: 30px;
  }
}

.box2 {
  width: 40vw;
  height: 20vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#F88306, #DFB00C);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.4);
  border-radius: 10px;

  @media screen and (max-width: 768px){
    width: 250px;
    height: 50px;
    flex-direction: column;
  }
}

.box2 .saldo {
  padding: 20px;

  @media screen and (max-width: 768px){
    padding: 5px;
    height: 50px;
   }
}

.box2 .saldo p {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: Ubuntu;

  @media screen and (max-width: 768px){
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;

   }
}


.box3 {
  padding: 10px;
  display: flex;

  @media screen and (max-width: 768px){
    width: 250px;
    height: 280px;
    padding: 20px;
}
}

.box3 img {
  margin-right: 20px;
  width: 8vw;
  display: flex;
  height: 20vh;

  @media screen and (max-width: 768px){
    display: none;
  }
}

.recently {
  width: 40vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px){
    width: 250px;
  }
}

.recently button {
  width: 90px;
  height: 40px;
  margin: 10px;
  font-size: 20px;
  border-radius: 8px;
  background: linear-gradient(#F88306, #DFB00C);
  box-shadow: 0 5px 5px rgba(0,0,0,.4);
  outline: none;

  @media screen and (max-width: 824px){
    width: 60px;
    height: 25px;
    margin: 5px;
    font-size: 12px;
  }
}

hr {
  border-color:rgba(221, 221, 221, 0.555);
  box-sizing:border-box;
  width:100%;
  height: 1px;
  margin-bottom: 12px;
  display: inline-block;
}

.transactions {
  width: 40vw;
  margin: 0 auto;
  margin-top: 20px;
  font-family: Ubuntu;

  @media screen and (max-width: 768px){
    width: 250px;
  }
}

.subTransactions {
  display: flex;
  justify-content: space-between;
}

.historyTransactions {
  display: flex;
}

.transactions li {
  list-style: none;
  padding: 10px;
  color: rgba(34, 25, 6, 0.767);
  font-size: 20px;

  @media screen and (max-width: 768px){
    padding: 4px;
    font-size: 16px;
  }
}

.valueTrasactions li {
  margin-left: 18px;
  }

li:last-child {
  margin-left: 0px;
}
